<%= link_to "Pick your gSchooler!", players_path %>

<div id="columns" class="columns_5">
<figure>
  <img src="http://i.imgur.com/XkeiCoy.png">
  <figcaption>Ellie</figcaption>
  <a class="button" href="#">Pick Ellie</a>
</figure>

<figure>
  <img src="http://i.imgur.com/Gwqm5QX.png">
  <figcaption>Paul</figcaption>
  <a class="button" href="#">Pick Paul</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>



<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>

<figure>
  <img src="http://i.imgur.com/NKyH3rw.png">
  <figcaption>Jenny</figcaption>
  <a class="button" href="#">Pick Jenny</a>
</figure>
</div>
