<div id="columns" class="columns_5">
    <% @players.each do |player| %>
    <figure>
    <img src="<%= player.url %>">
      <figcaption><h3><%= player.name %></h3></figcaption>
      <a class="button" href="<%= player.id %>">Pick <%= player.name %></a>
      </figure>
    <% end %>
    </div>
